/* Media Queries */

    @media only screen and (min-width: 768px) {
        
        /* Base Styles */

        body {
            padding-left: 3rem;
             padding-right: 3rem;
        }

        header, 
        .grid-container {
            max-width: 800px;
            margin: 0 auto;
        }

        /* Grid Styles */

        .grid-container {
            grid-template-columns: 1fr 1fr; 
            grid-gap: 2rem;
        }

        /* Header Styles */

        header {
            grid-template-columns:  1fr;
        }

        

        

        /* Employee Styles */

        .card {
            max-width: 385px;
        }
        
        h2 {
            font-size: 1.15rem;
        }
        
        p {
            margin-top: 7px;
            margin-bottom: 7px;
            font-size: .95rem;
        }

        /* Overlay & Modal Styles */

        .modal-content {
            min-width: 410px;   
        }

        

        
    
    }

    @media only screen and (min-width: 1200px) {

        /* Grid Styles */
        
        .grid-container {
            grid-template-columns: 1fr 1fr 1fr;
            max-width: 1200px;   
        }

        /* Employee Styles */

        .card {
            max-width: 400px;
        }

        .img {
            width: 128px;
        }

        h2 {
            font-size: 1.5rem;
        }

        p {
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 1rem;
        }

    }
