* {
    box-sizing: border-box;
    
    font-size: 16px;

}


body {
    position: relative;
     font-family: 'Noto Sans JP', sans-serif;
     padding:0 1rem;
    background-color:rgba(247, 247, 240, 0.146);
     padding-bottom: 4rem;
}








/*--------- Modal-overly Styles */

.modal-overlay {
    position: fixed;
    text-align: center;
    display: none;  
    background-color: rgba(0, 0, 0, 0.625);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    justify-content: center;
    align-items: center;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
     align-items: center;
    background-color: #ffffff;
    min-width:400px;
    
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;

}

.close {
    align-self: flex-end;
    color:#808080;
    cursor:pointer;
    font-size: 1.5rem;
}

hr {
    width: 100%;
    border: 1px solid rgba(228, 197, 151, 0.591);
}


.left-arrow,
.right-arrow {
    font-size: 1.5rem;
    color: rgb(128, 128, 128);
    background: none;
    border: none;
    cursor: pointer;
}

.modal-image-container {
    display: flex;
   
    
}
.modal-image-container img {
  margin: 30px;
  
}


/*--------- Header Styles */
header {
   
   
   display:flex;
   flex-direction: column;
   
    justify-content: space-between; 
    padding-bottom: 2rem;
   
}

h1 {
    max-width: 100%;
    display: flexbox;
    
    font-size: 1.7rem;
    font-weight: 300;
    margin-left:4.2rem;
   
   
    
}

/*--------- input Styles */
input {
    display: flexbox;
    width: auto;
    font-size: 1.3rem;
    padding: 1.8rem;
    border-radius: 5px;
    border: 2px solid gray;
    cursor: pointer;
}

input:hover {
    box-shadow: 0 0 8px 4px rgba(247, 163, 38, 0.2);
}



/*--------- Grid Styles */


.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    grid-gap: 1.5rem;
   
}


/*--------- Card Styles */

.card {
    display: flex;
    justify-content: start;
    align-items: center;
    min-height:200px;
    width: 460px;
    margin-left:4.5rem;
    border: 2px solid rgb(235, 189, 141);
    background-color: white;
    border-radius: 10px;
    padding: 1rem 1rem;
   
    cursor: pointer;
}
.card:hover {
    box-shadow: 0 0 8px 4px rgba(247, 163, 38, 0.2);
}

.card .image-container {
    margin-left: auto;

}

img {
    align-self: left;
    width: 120px;
        
    border-radius: 50%;
    margin-right: 1rem;
    
}

.card .employee-info {
    margin-right: auto;
}

h2 {
     color:#2e2d2dfe;
    margin: 2px;
    font-weight: 200 bold;
}

p {
    margin: 2px;
    font-size: 1rem;
    color:#808080e2;
}










/* -------Media Queries */

    @media only screen and (min-width: 768px) {
        
        /* Base Styles */

        body {
            
            padding-left: 3rem;
             padding-right: 3rem;
        }

      header,
        .grid-container {
            max-width: 800px;
            margin: 0 auto;
        }

        /* Grid Styles */

        .grid-container {
            grid-template-columns: 1fr 1fr; 
            grid-gap: 2rem;
            
        }

        /* Header Styles */

        header {
            
            display:flex;
            flex-direction:row;
            justify-content: space-between;
            padding: 2rem;
            
        }
        

       
    img {
            width: 120px;
        }

        .card {
         margin-left: 2rem;
        
         
        }
        

        /* Employee Styles */

        
        
        h2 {
            font-size: 1.15rem;
        }
        
        p {
            margin-top: 7px;
            margin-bottom: 7px;
            font-size: .95rem;
        }



        /* Overlay & Modal Styles */

        .modal-content {
            min-width: 430px;   
        }

       

        p {
            margin: 10px;
            margin-bottom: 10px;
            font-size: 1rem;
           
        }
    
    }

    @media only screen and (min-width: 1200px) {

        /* Grid Styles */
      
     header,
       .grid-container {
            grid-template-columns: 1fr 1fr 1fr; 
            max-width: 1200px;
            grid-gap: 2rem;
            
        }

        /* Header Styles */
 header {
     
           
            display:flex;
            flex-direction:row;
            margin-left :15rem;
            
        }
        h1 {
            font-size: 1.8rem;
            
        }

        
        /* Employee Styles */

        .card {
            max-width: auto;
            
        }

         img {
            width: 160px;
        }

        

        h2 {
            font-size: 1.3rem;
        }

        p {
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: .9rem;
        }
        



    }

  