* {
    box-sizing: border-box;

}


body {
    position: relative;
     font-family: 'Noto Sans JP', sans-serif;
     padding:0 1rem;
    
     padding-bottom: 4rem;
}

/*--------- Overlay Styles */






.hidden {
    display:none;
}

/*--------- Header Styles */
header {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 2rem ;
}

h1 {
    text-align: center;
    font-weight: 400;
}

/*--------- Grid Styles */


.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    grid-gap: 3rem;
   
}


/*--------- Card Styles */

.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    border: 3px solid rgb(235, 189, 141);
    border-radius: 10px;
    padding: 1rem 1rem;

    cursor: pointer;
}
.card:hover {
    box-shadow: 0 0 8px 4px rgba(247, 163, 38, 0.2);
}

.card .text-container {
    margin-left: auto;
}

.avatar {
    border-radius: 50%;
    margin-right: auto;
}




/*--------- Media Queries  */

